<a href="https://colab.research.google.com/github/azadeutsche114/Bag-of-words/blob/main/Class_III_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions in Python

```python
def function_name(parameters):
  statement(s)
```

In [ ]:
def Example():
  print("Good morning")

In [ ]:
# calling a function - function_name(parameters)
Example()

Good morning

In [ ]:
def Example():
  print("Good morning")
  print("Good Evening")
  print("Good Night")

In [ ]:
Example()

Good morning
Good Evening
Good Night

In [ ]:
def Example2(name):
  print(f"Good morning {name}")

In [ ]:
Example2("Rajat")

Good morning Rajat

In [ ]:
Example2(100)

Good morning 100

In [ ]:
def Example3(name, empid):
  print(f"Good morning {name}")
  print(f"Your employee id is {empid}")

In [ ]:
Example3("Rajat",123)

Good morning Rajat
Your employee id is 123

In [ ]:
Example3("murthy")

TypeError: ignored

In [ ]:
name = input("Name: ")
empid = input("emp id: ")
Example3(name, empid)

Name: Rjat
emp id: 456
Good morning Rjat
Your employee id is 456

## InClass Activity:  Create the function that accepts two numbers and print the sum

In [ ]:
def func(x,y):
  print(f"Sum is {x+y}")

func(10,20)

Sum is 30

# Return Statement in Functions

In [ ]:
result = func(10,10)

Sum is 20

In [ ]:
print(result)

None

In [ ]:
def func2(x,y):
  print(f"Sum is {x+y}")
  return x+y # you can have only one return statement

result = func2(10,20)

Sum is 30

In [ ]:
print(result)

30

# Scope of Variables

In [ ]:
def example3(x,y):
  r = x+y # Local Variable - it is valid only inside a function
  print(f"Sum is {r}")
  return r

In [ ]:
result = example3(10,15)

Sum is 25

In [ ]:
print(result)

25

In [ ]:
print(r)

NameError: ignored

# Keyworded inputs & Positional Inputs

In [ ]:
def example3(x,y):
  print(f"x is {x}, y is {y}")
  r = x+y # Local Variable - it is valid only inside a function
  print(f"Sum is {r}")
  return r

In [ ]:
example3(20,30)

x is 20, y is 30
Sum is 50

50

In [ ]:
example3(10,5) # Positional Arguments/inputs

x is 10, y is 5
Sum is 15

15

In [ ]:
example3(20)

TypeError: ignored

##Keyworded Argument

In [ ]:
example3(x=1,y=5)

x is 1, y is 5
Sum is 6

6

In [ ]:
example3(y=5,x=1)

x is 1, y is 5
Sum is 6

6

In [ ]:
# Positional Argument cannot be after keyworded argument
example3(y=3,6)

SyntaxError: ignored

In [ ]:
example3(10,y=20)

x is 10, y is 20
Sum is 30

30

## Default Values for a function parameters

In [ ]:
def example4(x,y=25):
  print(f"x is {x}, y is {y}")
  r = x+y # Local Variable - it is valid only inside a function
  print(f"Sum is {r}")
  return r

In [ ]:
example4(10)

x is 10, y is 25
Sum is 35

35

In [ ]:
example4(x=5)

x is 5, y is 25
Sum is 30

30

In [ ]:
example4(10,20)

x is 10, y is 20
Sum is 30

30

In [ ]:
example4(x=5,y= 6)

x is 5, y is 6
Sum is 11

11

## Function calling another function

In [ ]:
def add(x,y):
  return x+y

def multiply(x,y):
  return x*y

def divide(x,y):
  return x/y

def calculator(x,y):
  print(f"sum is {add(x,y)}")
  print(f"multiplication is {multiply(x,y)}")
  print(f"division is {divide(x,y)}")

In [ ]:
calculator(10,5)

sum is 15
multiplication is 50
division is 2.0

# Variable number of Positional Arguments
`*args`

In [ ]:
calculator(10,20)

sum is 30
multiplication is 200
division is 0.5

In [ ]:
example4(2)

x is 2, y is 25
Sum is 27

27

In [ ]:
calculator(10,20,40)

TypeError: ignored

In [ ]:
print("hello","world",100)

hello world 100

In [ ]:
def example5(x,y,*args):
  print(f"x is {x}, y is {y}")
  print(f"datatype of args is {type(args)},and looks like {args}")
  for arg in args:
    print(arg)

In [ ]:
example5(10,20,20,30,50,60)

x is 10, y is 20
datatype of args is <class 'tuple'>,and looks like (20, 30, 50, 60)
20
30
50
60

In [ ]:
def add(*args):
  s = 0
  for v in args:
    s += v
  return s

In [ ]:
add(5,6,5,2,3,5)

26

# Variable number of keyworded arguments

In [ ]:
def myFun(**kwargs):
  print(f"variable kwargs data type is {type(kwargs)}, and it looks like - {kwargs}")

In [ ]:
myFun(a=100, b = 20, c = 'welcome',d = 'data')

variable kwargs data type is <class 'dict'>, and it looks like - {'a': 100, 'b': 20, 'c': 'welcome', 'd': 'data'}

In [ ]:
def myFun(**var):
  print(f"variable var data type is {type(var)}, and it looks like - {var}")

In [ ]:
myFun(a=100, b = 20, c = 'welcome',d = 'data')

variable var data type is <class 'dict'>, and it looks like - {'a': 100, 'b': 20, 'c': 'welcome', 'd': 'data'}

# Lambda function

**Lambda**:
```python
lambda arguments:expression
```

In [ ]:
def cal(num1,num2):
  return num1+num2

In [ ]:
cal(20,30)

50

In [ ]:
F = lambda num1,num2 : num1+num2

In [ ]:
F(10,15)

25

# Filter Function

*Syntax*
```python
filter(Function, iterable)
```

In [ ]:
l = [1,2,3,4,5,6,7]
filter(lambda x:x%2==0 , l) # return filter object

In [ ]:
list(filter(lambda x:x%2==0 , l))

[2, 4, 6]

# Map function

*Syntax*
```python
map(Function, iterable)
```

In [ ]:
l = [1,2,3,4,5,6,7]
map(lambda x: x**3 , l)

In [ ]:
list(map(lambda x: x**3 , l))

[1, 8, 27, 64, 125, 216, 343]

# List Comprehension

In [ ]:
l1 = [1,2,3,4,5,6,7,8,9]
l2 = []
for element in l1:
  l2.append(element*2)
print(l2)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

*Syntax*
```python
[expression for item in iterable]
```

In [ ]:
[element*2 for element in l1]

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
[element*2 for element in l1]

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
F2 = lambda *args: args
F2(10,20,30)

(10, 20, 30)

# Classes

In [ ]:
x = 10
y = "hello"
z = 10.50
a = [10,20,30]

print(type(a))
print(type(x))
print(type(y))
print(type(z))

<class 'list'>
<class 'int'>
<class 'str'>
<class 'float'>

In [ ]:
# Create a class
class example():
  def func(self): #Class methods(Functions inside a class) will  have self as first parameter
    pass

In [ ]:
#obj_name = class_name()
ob1 = example()
print(ob1)

<__main__.example object at 0x7fbc19b9e650>

In [ ]:
# To access class method - object.method()

In [ ]:
ob1.func() # class method

In [ ]:
# By using self in the method, we pass the object itself
# ob1.func() --> it will be converted to example.func(ob1) - class.method(object)

## Attributes:

Variables inside a class or object.

In [ ]:
# Attributes
class example():
  pass

In [ ]:
ob1 = example()
ob2 = example()

In [ ]:
print(ob1)

<__main__.example object at 0x7fbc19c2f750>

In [ ]:
print(ob2)

<__main__.example object at 0x7fbc19c2ffd0>

In [ ]:
ob1.name = "Jacob" # add a variable/attribute for the object ob1

In [ ]:
ob1.name

'Jacob'

In [ ]:
ob2.name

AttributeError: ignored

In [ ]:
# Attributes
class example():
  cake = "strawberry" # Attributes
  pass

In [ ]:
ob1 = example()
ob2 = example()

In [ ]:
ob1.cake

'strawberry'

In [ ]:
ob2.cake

'strawberry'

# Initialization

In [ ]:
class example2():
  def __init__(self, name):
    self.name = name # self - object itself

In [ ]:
ob1 = example2()

TypeError: ignored

In [ ]:
ob1 = example2("John")

In [ ]:
ob1.name

'John'

In [ ]:
# class example3():
#   def __init__(self,name):
#     self.name = name
  
#   def sum(self,a,b):
#     self.a = a
#     self.b = b
#     return self.a + self.b

In [ ]:
ob1 = example3("Jack")

In [ ]:
ob1.sum(20,30)

50

## In Class - Activity: Create a class as `CAKE` and store the initialized value of flavor & person name into the attributes

In [ ]:
class cake():
  def __init__(self,flavor,name):
    self.flavor = flavor
    self.name = name

In [ ]:
c1 = cake("Chocolate","Dheeraj")

In [ ]:
c1.flavor # attribute

'Chocolate'

In [ ]:
class cake():
  def __init__(self,flavor,name):
    self.x1 = flavor
    self.x2 = name

In [ ]:
c1 = cake("Chocolate","Dheeraj")

In [ ]:
c1.x1

'Chocolate'

In [ ]:
c1.x2

'Dheeraj'

# Inheritence

**Syntax**

```python
class Car(): # parent class
  pass

class SUV(Car): # child class
  pass
```

In [ ]:
class Car(): # parent class
  pass

class SUV(Car): # sub class
  pass

In [ ]:
issubclass(SUV,Car)

True

In [ ]:
c1 = Car()
c2 = SUV()

## Inherit from Parent

In [ ]:
class Car(): # parent class
  def wheels(self):
    print("I am a FWD car")

class SUV(Car): # sub class
  pass

In [ ]:
c1 = Car()
c2 = SUV()

In [ ]:
c1.wheels()

I am a FWD car

In [ ]:
c2.wheels()

I am a FWD car

In [ ]:
# Every method and attribute inside a parent class will be accessible from child class/object

## Override a Method

In [ ]:
class Car(): # parent class
  def wheels(self):
    print("I am a FWD car")

class SUV(Car): # sub class
  def wheels(self):
    print("I am a 4WD car")

In [ ]:
c1 = Car()
c2 = SUV()

In [ ]:
c1.wheels()

I am a FWD car

In [ ]:
c2.wheels()

I am a 4WD car

## Adding a new method inside a class

In [ ]:
class Car(): # parent class
  def wheels(self):
    print("I am a FWD car")

class SUV(Car): # sub class
  def wheels(self):
    print("I am a 4WD car")
  
  def seater(self):
    print("This car has 6 seats")

In [ ]:
c1 = Car()
c2 = SUV()

In [ ]:
c1.wheels()

I am a FWD car

In [ ]:
c2.wheels()

I am a 4WD car

In [ ]:
c2.seater()

This car has 6 seats

In [ ]:
c1.seater()

AttributeError: ignored

# Multiple Inheritence

In [ ]:
class Animal():
  def says(self):
    return "I can speak"

class Horse(Animal):
  def says(self):
    return "Neigh"

class Dog(Animal):
  def says(self):
    return "Woof"

class Tiger(Animal):
  def says(self):
    return "Roar"

class Donkey(Animal):
  def says(self):
    return "Hee-Haw"

class Mule(Donkey,Tiger,Dog):
  #pass
  def says(self):
    return "Mule"

In [ ]:
m = Mule()

In [ ]:
# Method Resolution Order
Mule.mro()

[__main__.Mule,
 __main__.Donkey,
 __main__.Tiger,
 __main__.Dog,
 __main__.Animal,
 object]

In [ ]:
m.says()

'Mule'

### In Class - Activity: Create a Class that takes input as : radius, and has the methods which return Area & Circumference

Area = `3.14*r*r`
circumference = `2*3.14*r`

In [ ]:
# init method - should get radius
# area method - should return area
# circunference - should return circumference

In [ ]:
class circle():
  def __init__(self, radius):
    self.radius = radius
  
  def area(self):
    return 3.14*self.radius*self.radius
  
  def circumference(self):
    return 2*3.14*self.radius

In [ ]:
c1 = circle(5)
c1.area()

78.5

In [ ]:
c1.circumference()

31.400000000000002

### Activity: Create a class as : `Triangle` 

`init` method takes 2 parameters : base & height

`area` method returns : `1/2*base*height`

In [ ]:
class triangle():
  def __init__(self,base,height):
    self._height = height
    self._base = base
  
  def area(self):
    return 0.5*self._base*self._height

In [ ]:
t1 = triangle(2,10)
t1.area()

10.0

In [ ]:
t1._height

10

In [ ]:
t1.base

2

In [ ]:
# Public
# Protected - starting with _
# Private - starting with __

In [ ]:
class triangle():
  def __init__(self,base,height):
    self.__height = height # private attribute
    self._base = base
  
  def area(self):
    return 0.5*self._base*self.__height

In [ ]:
t1 = triangle(2,10)
t1.__height

AttributeError: ignored

In [ ]:
t1._triangle__height # private attribute

10

In [ ]:
list_str_=['Hello','World','Python','Programming','DataScience','Machine Learning']
print(list_str_)
list_str_.sort()
print(list_str_)

['Hello', 'World', 'Python', 'Programming', 'DataScience', 'Machine Learning']
['DataScience', 'Hello', 'Machine Learning', 'Programming', 'Python', 'World']

In [ ]:
l = ['Hello','World','Python','Programming','DataScience','MachineLearning']
l.sort(reverse=True)

In [ ]:
l

['World', 'Python', 'Programming', 'MachineLearning', 'Hello', 'DataScience']

# Modules in Python

In [ ]:
!wget https://raw.githubusercontent.com/manifoldailearning/Deeplearning-BootCamp/main/food.py

--2022-08-30 02:56:25--  https://raw.githubusercontent.com/manifoldailearning/Deeplearning-BootCamp/main/food.py
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.110.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 239 [text/plain]
Saving to: ‘food.py’

food.py             100%[===================>]     239  --.-KB/s    in 0s

2022-08-30 02:56:25 (8.72 MB/s) - ‘food.py’ saved [239/239]

In [ ]:
from random import choice 
l = [10,20,30,40,50]
choice(l)

40

In [ ]:
choice(l)

30

In [ ]:
import food

In [ ]:
food.places

['McDonalds',
 'KFC',
 'Burger King',
 'Taco Bell',
 'Wendys',
 'Arbys',
 'Pizza Hut']

In [ ]:
food.pick()

'KFC'

In [ ]:
from food import places

In [ ]:
places

['McDonalds',
 'KFC',
 'Burger King',
 'Taco Bell',
 'Wendys',
 'Arbys',
 'Pizza Hut']

In [ ]:
from food import pick

In [ ]:
pick()

'Arbys'

In [ ]:
from math import sqrt

In [ ]:
sqrt(100)

10.0

In [ ]:
from math import *

In [ ]:
sin(100)

-0.5063656411097588

In [ ]:
import numpy