<a href="https://colab.research.google.com/github/azadeutsche114/Bag-of-words/blob/main/Class_V.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

df = pd.Series(np.arange(1, 51))
print(df.axes)

In [ ]:
import pandas as pd
import numpy as np

df = pd.Series(np.arange(1, 51))
print(df.head(6))

In [ ]:
import pandas as pd
import numpy as np

df =pd.DataFrame(np.random.rand(5, 4), columns=['col1', 'col2', 'col3', 'col4'])
for key, value in df.iteritems():
    print(key, value)

In [ ]:
import pandas as pd
import numpy as np

df =pd.DataFrame(np.random.rand(5, 4), columns=['col1', 'col2', 'col3', 'col4'])
for row in df.itertuples():
    print(row)

In [ ]:
import pandas as pd
import numpy as np

df = pd.Series(np.arange(1, 51))
print(df.ndim)

In [ ]:
import pandas as pd
import numpy as np

df=pd.Series(np.arange(1,51))
print(df.ndim)

import pandas as pd
import numpy as np

df=pd.Series(np.arange(1,51))
print(df.axes)

import pandas as pd
import numpy as np

df=pd.Series(np.arange(1,51))
print(df.values)

import pandas as pd
import numpy as np

df=pd.Series(np.arange(1,51))
print(df.head(6))


import pandas as pd
import numpy as np

df=pd.Series(np.arange(1,51))
print(df.tail(6))

import pandas as pd
import numpy as np

d={'odd':np.arange(1, 100, 2),
   'even':np.arange(0, 100, 2)}
print(d['odd'])
print(d['even'])
df=pd.DataFrame(d)

import pandas as pd
import numpy as np

d={'odd':np.arange(1,100,2),
   'even':np.arange(0,100,2)}
print(d['odd'])
print(d['even'])
df=pd.DataFrame(d)
print(df.sum())


import pandas as pd
import numpy as np

d={'odd':np.arange(1,100,2),
   'even':np.arange(0,100,2)}
print(d['odd'])
print(d['even'])
df=pd.DataFrame(d)
print(df.std())

In [ ]:
import pandas as pd

world_cup={'Team':['West Indies','West indies','India','Australia','Pakistan','Sri Lanka','Australia','Australia','Australia','Insia','Australia'],
           'Rank':[7,7,2,1,6,4,1,1,1,2,1],
           'Year':[1975,1979,1983,1987,1992,1996,1999,2003,2007,2011,2015]}
df=pd.DataFrame(world_cup)
print(df)
print(df.groupby('Team').groups)
print(df.groupby('Team','Rank').groups)

grouped=df.groupby('Team')
for name,group in grouped:
    print(name)


grouped = df.groupby('Team')
print(grouped.get_group('India'))

import pandas
world_champions={'Team':['India','Australia','West Indies','Pakistan','Sri Lanka'],
           'ICC_rank':[2,3,7,8,4],
           'World_champions_Year':[2011,2015,1979,1992,1996],
           'Points':[874,787,753,673,855]}

chokers={'Team':['South Africa','New Zealand','Zimbabwe'],
           'ICC_rank':[1,5,9],
           'Points':[895,764,656]}

df1=pandas.DataFrame(world_champions)
df2=pandas.DataFrame(chokers)

import pandas
world_champions={'Team':['India','Australia','West Indies','Pakistan','Sri Lanka'],
           'ICC_rank':[2,3,7,8,4],
           'World_champions_Year':[2011,2015,1979,1992,1996],
           'Points':[874,787,753,673,855]}

chokers={'Team':['South Africa','New Zealand','Zimbabwe'],
           'ICC_rank':[1,5,9],
           'Points':[895,764,656]}

df1=pandas.DataFrame(world_champions)
df2=pandas.DataFrame(chokers)
print(pandas.merge(df1,df2,on='Team',how='left'))

print(pandas.concat([df1,df2],axis=1))
print(df1.append(df2))
print(pandas.concat([df1,df2]))
print(pandas.concat([df1,df2],axis=1))




import pandas
champion_stats={'Team':['India','Australia','West Indies','Pakistan','Sri Lanka'],
           'ICC_rank':[2,3,7,8,4],
           'World_champions_Year':[2011,2015,1979,1992,1996],
           'Points':[874,787,753,673,855]}

match_stats={'Team':['India','Australia','West Indies','Pakistan','Sri Lanka'],
             'World_cup_played':[11,10,11,9,8],
             'ODIs_played':[733,988,712,679,662]}


df1=pandas.DataFrame(champion_stats)
df2=pandas.DataFrame(match_stats)

print(df1)
print(df2)
print(pandas.merge(df1,df2,on='Team'))

In [ ]:
import pandas as pd
dataset=pd.read_csv("AllCountries.csv")
print(dataset.shape)


import pandas as pd
dataset=pd.read_csv("AllCountries.csv")
print(dataset.dtypes)


import pandas as pd
dataset=pd.read_csv("AllCountries.csv")
print(dataset.head(5))


import pandas as pd
dataset=pd.read_csv("AllCountries.csv")
print(dataset.describe())


import pandas as pd
dataset=pd.read_csv("AllCountries.csv")
selected_data=dataset.loc[:,['Country','LandArea']]
for i in selected_data.itertuples():
    if i[2]>2000:
        print(i)



import pandas
import numpy
import matplotlib.pyplot as plt
plt.figure(figsize=(50,50))
dataset=pandas.read_csv("AllCountries.csv")
selected_data=dataset.loc[:,['Country','GDP','BirthRate']]
x=numpy.array(selected_data["GDP"])
y=numpy.array(selected_data['BirthRate'])
print(x,y)
plt.scatter(x,y)
plt.xlim(0,20000)
plt.show()



import pandas
import matplotlib.pyplot as plt
plt.figure(figsize=(50,50))
dataset=pandas.read_csv("AllCountries.csv")
selected_data=dataset.loc[:,['Country','GDP','BirthRate']]
sorted_data=selected_data.sort_index(by='GDP',ascending=False)
selected_sorted_data=sorted_data.iloc[:10]print(selected_sorted_data)
plt.pie(selected_sorted_data['GDP'],labels=selected_sorted_data['Country'])
plt.show()

In [ ]:
import pandas as pd
import numpy as np

d = {'odd': np.arange(1, 100, 2), 'even': np.arange(0, 100, 2)}
print(d['odd'])
print(d['even'])
df = pd.DataFrame(d)
print(df.std())

In [ ]:
import pandas as pd
import numpy as np

d = {'odd': np.arange(1, 100, 2), 'even': np.arange(0, 100, 2)}
print(d['odd'])
print(d['even'])
df = pd.DataFrame(d)
print(df.sum())

In [ ]:
import pandas as pd
import numpy as np

df = pd.Series(np.arange(1, 51))
print(df.tail(6))

In [ ]:
import pandas as pd
import numpy as np

df = pd.Series(np.arange(1, 51))
print(df.values)