<a href="https://colab.research.google.com/github/azadeutsche114/Bag-of-words/blob/main/Edureka_class_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
a = np.array([1, 2, 3])
print(a)

In [ ]:
import numpy as np
a = np.array([[1, 2], [3, 4]])
print(a)

In [ ]:
import numpy as np

list1 = [1, 2, 3, 4, 5]
arr = np.array(list1)
print(arr)

In [ ]:
import numpy as np
arr = np.arange(10, 100)
print(arr)

In [ ]:
import numpy as np

arr = np.zeros((5,5))
print(arr)

In [ ]:
import numpy as np

vector = np.linspace(0, 20, 5)
print(vector)

In [ ]:
import numpy as np
x=[1,2,3]
a=np.asarray(x)
print(a)

In [ ]:
import numpy as np
arr=np.zeros(8)
arr3d=arr.reshape((2,2,2))
print(arr3d)

In [ ]:
import numpy as np
arr=np.zeros(8)
arr3d=arr.reshape((2,2,2))
arr=arr3d.ravel()
print(arr)

In [ ]:
import numpy as np
arr=np.arange(20)
arr_slice=slice(1,10,2)
element=arr[6]
print(arr[arr_slice])

In [ ]:
import numpy as np
arr=np.arange(20)
print(arr[2:])

import numpy as np
arr=np.arange(20)
print(arr[:15])

In [ ]:
import numpy as np
a=np.array([[1,2,3],[3,4,5],[4,5,6]])
print(a[0:2,0:2])

In [ ]:
import numpy as np
x=np.empty([3,2],dtype=int)
print(x)

In [ ]:
import numpy as np
x=np.zeros(5)
print(x)

In [ ]:
import numpy as np
a=np.array([[1,2,3],[3,4,5],[4,5,6]])
print(a.shape)
print(a.ndim)
print(a.itemsize)

In [ ]:
import pandas
series = pandas.Series()
print(series)

In [ ]:
import pandas, numpy

arr = numpy.array([10, 20, 30, 40, 50])
series = pandas.Series(arr)
print(series)

In [ ]:
import pandas

data = {'a':10, 'b':20, 'c':30}
series = pandas.Series(data)
print(series)

In [ ]:
import pandas

s = pandas.Series([10, 20, 30, 40, 50])

print(s[1:4])

In [ ]:
import pandas

data = {'one': pandas.Series([1, 2, 3], index=['a', 'b', 'c']),
        'two': pandas.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
table = pandas.DataFrame(data)
table['three'] = pandas.Series([10, 20, 30], index=['a', 'b', 'c'])
del(table['one'])
print(table)

In [ ]:
import pandas

data = [{'a':1, 'b':2}, {'a':2, 'b':4, 'c':8}]
table = pandas.DataFrame(data, index=['first', 'second'])
print(table)

In [ ]:
import pandas

data = {'one': pandas.Series([1, 2, 3], index=['a', 'b', 'c']),
        'two': pandas.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
table = pandas.DataFrame(data)
table['three'] = pandas.Series([10, 20, 30], index=['a', 'b', 'c'])


print(table)
print(table.loc['c'])
print(table.iloc[2])
table.pop('one')
print(table)

del table['one']
print(table)

In [ ]:
import pandas

data = {'one': pandas.Series([1, 2, 3], index=['a', 'b', 'c']),
        'two': pandas.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
table = pandas.DataFrame(data)
print(table)

In [ ]:
import pandas

data = {'one': pandas.Series([1, 2, 3], index=['a', 'b', 'c']),
        'two': pandas.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
table = pandas.DataFrame(data)
table['three'] = pandas.Series([10, 20, 30], index=['a', 'b', 'c'])

In [ ]:
import pandas

data = {'one': pandas.Series([1, 2, 3], index=['a', 'b', 'c']),
        'two': pandas.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
table = pandas.DataFrame(data)
row  = pandas.DataFrame([[11, 13], [17, 19]], columns=['two', 'three'])
table = table.append(row)
table = table.drop('a')

print(table)

In [ ]:
import pandas

data = {'one': pandas.Series([1, 2, 3], index=['a', 'b', 'c']),
        'two': pandas.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
table = pandas.DataFrame(data)
table['three'] = pandas.Series([10, 20, 30], index=['a', 'b', 'c'])


row  = pandas.DataFrame([[11, 13], [17, 19]], columns=['two', 'three'])
table = table.append(row)

print(table)