<a href="https://colab.research.google.com/github/azadeutsche114/Bag-of-words/blob/main/Edureka_Class_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import folium
import pandas
import json
df=pandas.read_csv("simplemaps-worldcities-basic.csv")
df1=df.to_csv("new_col1.txt", index=False,columns=["lat","lng"])
lat1=list(df["lat"])
lon1=list(df["lng"])
pro=list(df["province"])
map=folium.Map(location=[30.98,5.34],zoom_start=7,tiles="Mapbox Bright")
fgv=folium.FeatureGroup(name="locations")
fgp=folium.FeatureGroup(name="population")
fgp.add_child(folium.GeoJson(data=open('world.json', 'r', encoding='utf-8-sig').read(),
style_function=lambda x:{'fillColor':'yellow' if x['properties']['POP2005']<1000000 else 'brown'} ))

for lt,ln,el in zip(lat1,lon1,pro):
    fgv.add_child(folium.CircleMarker(location=[lt,ln],radius=6,popup=str(el),fill_color="red",fill=True,color="orange",fill_opacity=0.7))
map.add_child(fgv)
map.add_child(fgp)
map.add_child(folium.LayerControl())
map.save("Map3.html")

In [ ]:
import folium
import pandas
df=pandas.read_csv("Volcanoes_USA.txt")
map=folium.Map(location=[df['LAT'].mean(),df['LON'].mean()],zoom_start=6,tiles='Mapbox bright')
def color(elev):
    minimum=int(min(df['ELEV']))
    step=int((max(df['ELEV'])-min(df['ELEV']))/3)
    if elev in range(minimum,minimum+step):
        col='green'
    elif elev in range(minimum+step,minimum+step*2):
        col='orange'
    else:
        col='red'
    return col
fg=folium.FeatureGroup(name="Volcano Locations")
for lat,lon,name,elev in zip(df['LAT'],df['LON'],df['NAME'],df['ELEV']):
    fg.add_child(folium.Marker(location=[lat,lon],popup=(folium.Popup(name)),icon=folium.Icon(color=color(elev),icon_color='green')))
map.add_child(fg)
map.add_child(folium.GeoJson(data=open('world_geojson_from_ogr.json'),
name="Population",
style_function=lambda x: {'fillColor':'green' if x['properties']['POP2005'] <= 10000000 else 'orange' if 10000000 < x['properties']['POP2005'] < 20000000 else 'red'}))
map.add_child(folium.LayerControl())
map.save(outfile='map.html')

In [ ]:
dict={1:"Python",2:"Android"}
print(dict)
print(dict[1])

dict[1]="Javascript"
print(dict)

del(dict[2])
print(dict)

print(len(dict))
print(str(dict))
print(type(dict))

print(dict.copy())
dict.clear()
print(dict)

#add
dict1={1:'Python',2:'Android'}
print(dict1.items())

print(dict1.keys())

print(dict1.values())

print(dict1.setdefault(1,4))


dic={3:'Python',1:'Java',2:'Big Data'}
ks=list(dic.keys())
print(ks)

sk=sorted(ks)
print(sk)

for key in sk:
    print(key,'=>',dic[key])

In [ ]:
#List
list=[1,2,"Python","Android"]
print(list)

list[2]="Data Science"
print(list)

#Tuple
tup=(1,2,3,"Data Science")
print(tup)

tup[1]="Python"
print(tup)

In [ ]:
str=input("Enter your input")
print("Received input is: ",str)


# Example

name=input("Enter your name")

age=input("Enter your age")

print("Welcome ",name)
print("Your age is ",age)

print("After 5 years, your age will be :",(int(age)+5))

In [ ]:
list=["Hadoop","Python","Android"]
print(list[1])

print(list[0:2])

print(list[-1])

list=["Hadoop","Python","Android"]

list[1]="Java"
print(list)

del(list[2])
print(list)

list=[1,2,3]
list.append("Machine Learning")
print(list)

list.extend(['g','h'])
print(list)

list.insert(1,'Scripting')
print(list)

list.remove(3)
print(list)

lst=[1,4,2,'x','y','z']
if(type(lst)==list):
    print("Yes")



list3=[1,2,5,'Python','Haddop']
print(type(list3))

print([x**2 for x in[1,2,3,4,5]])


list4=['Pytyhon','Java','Haddop','Android']
print(list4.sort())
print(list3.reverse())

print([x**2 for x in[1,2,3,4,5]])

list=[1,2,3,4,5,'a','b','c']
print(list.pop(3))

list.remove('a')
print(list)

list1=['Python','XYZ','ABC','PQR']
print(list1)

print(sorted(list1))

print(list1[::-1])

In [ ]:
list=["Hadoop","Python","Android"]
print(list)

tuple=("Python","Hadoop")
print(tuple)

In [ ]:
list=[(1,2,3),("Python","Java")]
print(list)
print(len(list))
print(list[1][0:1])

list[0][1]=50
print(list)

tup=([1,2,3],[3,4,5],[5,6,7])
print(tup)
print(len(tup))
print(tup[0][1])

#Updating Tuple
tup[0][1]=90
print(tup)

#Deleting element in Tuple
del(tup[1][2])
print(tup)

list=[1,2,'Python','Android']
print(list)

list[2]='Data Science'
print(list)

tup=(1,2,3,'Data Science')
print(tup)

In [ ]:
import os
newfile=open("Edureka_Py.txt","w+")

for i in range(1,10):
    newfile.write("\n Hello, welcome to Python:")


for i in range(1,10):
    print(newfile.read())

newfile.seek(0)
print(newfile.tell())
os.rename("Edureka.txt","Python.txt")
os.remove("Edureka.txt")

newfile.close()

In [ ]:
list=["Marketing","Content Designing","Sales"]
print(list)

#Concatenation
print(list+["Python","Hadoop"])

#Repetition
print(list*2)

#Membership Testing
print('Marketing' in list)

#Indexing
print(list[2])

#Slicing
print(list[0:2])

In [ ]:
X=set('Welcome To Edureka')
print(X)

A={1,2,3,4}
B={3,4,5,6}
print(A|B)
print(A&B)

A={1,2,3,4,5}
B={4,5,6,7,8}
print(A-B)

s={'a','b','c','d','e','f','o','v'}
set1={'a','b','d','o','v'}
set2={'a','c','d','o','e'}
print(set1|set2)
print(set1&set2)
print(set1-set2)

#add

s={1,2,3,'a','b'}
set1={1,'a','b'}
print(1 in s)

print(set1.issubset(s))

print(5 not in s)

print(s.issuperset(set1))

print(s.union(set1))

print(s.intersection(set1))

print(s.difference(set1))

print(s.symmetric_difference(set1))

In [ ]:
values=input()
l=values.split(",")
t=tuple(l)
print(l)
print(t)

In [ ]:
tup1=("Haddop","Python","Java")

print(len(tup1))
print(max(tup1))
print(min(tup1))





tup1=("Haddop","Python","Java")

print(len(tup1))

print(tup1*2)

print("Java" in tup1)

tup2=(1,3,5,7)
tup3=(2,4,6,8)
tup4=tup2+tup3
print(tup4)

del(tup2)
print(tup2)


tup=(1,3,5,2)

print(sorted(tup))

print(tup[::-1])


tuple1=(1,3,5,7,'a','b')
lst=list(tuple1)

print(lst)

lst[1]="Python"
print(lst)

tuple2=tuple(lst)
print(tuple2)

In [ ]:
#tuple in set
dict={1:(1,2,3),2:(3,4,5)}
print(dict)
print(dict[1][1])


#list in set
dict={1:["Python","Java"],2:[1,3,5,7]}
print(dict)
print(dict[1][0])