<a href="https://colab.research.google.com/github/azadeutsche114/Bag-of-words/blob/main/Edureka_class_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = "20.4"
y = 20
try:
  x+y
except:
  print("Invalid data types. Please check the code")

Invalid data types. Please check the code

# KNN Model

In [ ]:
import pandas as pd
!wget https://www.dropbox.com/s/qgcs782d332is4b/diabetes.csv
data = pd.read_csv('diabetes.csv')

--2022-09-16 02:58:04--  https://www.dropbox.com/s/qgcs782d332is4b/diabetes.csv
Resolving www.dropbox.com (www.dropbox.com)... 162.125.7.18, 2620:100:6016:18::a27d:112
Connecting to www.dropbox.com (www.dropbox.com)|162.125.7.18|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /s/raw/qgcs782d332is4b/diabetes.csv [following]
--2022-09-16 02:58:05--  https://www.dropbox.com/s/raw/qgcs782d332is4b/diabetes.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc7d4df0eca63d536e2517e33ebe.dl.dropboxusercontent.com/cd/0/inline/BtDM3MqAjYTy7oZNIRDu6Aj94m_2mhltdp3pLCAjtDbxgW9VT-01bfh57_5KOThOr229NAn5yBOaX7PFhqsT8z2WdvqjOmHAId3m60Q0m5yFGSCqWF4AvAr02z06j0wrKCY1VD4rtjaFTWEBtMp_oUBwtjKSL91OOrQwfknRL3yCIg/file# [following]
--2022-09-16 02:58:05--  https://uc7d4df0eca63d536e2517e33ebe.dl.dropboxusercontent.com/cd/0/inline/BtDM3MqAjYTy7oZNIRDu6Aj94m_2mhltdp3pLCAjtDbxgW9VT-01bfh57_5KOThOr229NAn5yBOaX7PFhqsT8z2WdvqjOmHAId3m60Q0m5yFGSCqWF4AvAr02z06j0wrKCY1VD4rtjaFTWEBtMp_oUBwtjKSL91OOrQwfknRL3yCIg/file
Resolving uc7d4df0eca63d536e2517e33ebe.dl.dropboxusercontent.com (uc7d4df0eca63d536e2517e33ebe.dl.dropboxusercontent.com)... 162.125.1.15, 2620:100:6016:15::a27d:10f
Connecting to uc7d4df0eca63d536e2517e33ebe.dl.dropboxusercontent.com (uc7d4df0eca63d536e2517e33ebe.dl.dropboxusercontent.com)|162.125.1.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 26856 (26K) [text/plain]
Saving to: ‘diabetes.csv’

diabetes.csv        100%[===================>]  26.23K  --.-KB/s    in 0.006s

2022-09-16 02:58:05 (4.43 MB/s) - ‘diabetes.csv’ saved [26856/26856]

In [ ]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,1,85,66,29,0,26.6,0.351,31,No
1,8,183,64,0,0,23.3,0.672,32,Yes
2,1,89,66,23,94,28.1,0.167,21,No
3,0,137,40,35,168,43.1,2.288,33,Yes
4,5,116,74,0,0,25.6,0.201,30,No

In [ ]:
data.isna().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [ ]:
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
count,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000
mean,3.842243,120.859192,69.101695,20.517601,79.903520,31.990482,0.471674,33.219035
std,3.370877,31.978468,19.368155,15.954059,115.283105,7.889091,0.331497,11.752296
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243500,24.000000
50%,3.000000,117.000000,72.000000,23.000000,32.000000,32.000000,0.371000,29.000000
75%,6.000000,140.000000,80.000000,32.000000,127.500000,36.600000,0.625000,41.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000

In [ ]:
data['Glucose'] = data['Glucose'].replace(0, data['Glucose'].median())
data['BloodPressure'] = data['BloodPressure'].replace(0, data['BloodPressure'].median())
data['SkinThickness'] = data['SkinThickness'].replace(0,data['SkinThickness'].median())
data['Insulin'] = data['Insulin'].replace(0,data['Insulin'].median())
data['BMI'] = data['BMI'].replace(0,data['BMI'].median())
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
count,767.000000,767.000000,767.000000,767.000000,767.00000,767.000000,767.000000,767.000000
mean,3.842243,121.621904,72.387223,27.324641,95.46545,32.449413,0.471674,33.219035
std,3.370877,30.443252,12.104527,9.230877,105.14839,6.879727,0.331497,11.752296
min,0.000000,44.000000,24.000000,7.000000,14.00000,18.200000,0.078000,21.000000
25%,1.000000,99.500000,64.000000,23.000000,32.00000,27.500000,0.243500,24.000000
50%,3.000000,117.000000,72.000000,23.000000,32.00000,32.000000,0.371000,29.000000
75%,6.000000,140.000000,80.000000,32.000000,127.50000,36.600000,0.625000,41.000000
max,17.000000,199.000000,122.000000,99.000000,846.00000,67.100000,2.420000,81.000000

In [ ]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,1,85,66,29,32,26.6,0.351,31,No
1,8,183,64,23,32,23.3,0.672,32,Yes
2,1,89,66,23,94,28.1,0.167,21,No
3,0,137,40,35,168,43.1,2.288,33,Yes
4,5,116,74,23,32,25.6,0.201,30,No

In [ ]:
X = data.drop(columns='Outcome')
y = data['Outcome']

In [ ]:
# pre processing
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

X_train_transform = ss.fit_transform(X_train)
X_test_transform = ss.transform(X_test)

from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(X_train_transform,y_train)

y_pred = knn.predict(X_test_transform)

from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.7727272727272727

In [ ]:
# How to choose the value of k

for k in [3,4,5,6,7,8,9]:
    """
    loop through each value of K
    fit a model with the chosen value of K
    check for predictions
    finally print the accuracy score
    """
    model_temp = KNeighborsClassifier(n_neighbors=k)
    model_temp.fit(X_train_transform, y_train)
    y_pred_temp = model_temp.predict(X_test_transform)
    print("For the value of K=",k,", the model accuracy is: ",accuracy_score(y_pred_temp, y_test))

For the value of K= 3 , the model accuracy is:  0.7987012987012987
For the value of K= 4 , the model accuracy is:  0.8051948051948052
For the value of K= 5 , the model accuracy is:  0.7727272727272727
For the value of K= 6 , the model accuracy is:  0.7922077922077922
For the value of K= 7 , the model accuracy is:  0.7857142857142857
For the value of K= 8 , the model accuracy is:  0.7792207792207793
For the value of K= 9 , the model accuracy is:  0.7792207792207793